.bg-warna1{
    background-color: #42c5f4
}
.foto{
    height: 250px
}
.bg-warna2{
    background-color: #42d9f4
}

.bg-warna3{
    background-color: #3b60e5
}

.bg-warna4{
    background-color: #82eeff
}
